<div class="container mb-5">
    <div class="row g-4 mb-5">
        <div class="col-lg-9">
            <div class="row g-4">
                <div class="col-lg-6">
                    <div class="border-0">
                        <img src="/images/products/@ViewBag.Product.ImageUrl" class="img-fluid rounded" alt="Image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4 class="fw-bold mb-3">@ViewBag.Product.ProductName</h4>
                    <p class="mb-3">Category: @ViewBag.Product.CategoryName</p>
                    <h5 class="fw-bold mb-3">@ViewBag.Product.Price $</h5>
                    <form action="/cart/addtocart">
                        <div class="input-group quantity mb-5" style="width: 100px;">
                            <input type="hidden" name="ProductId" value="@ViewBag.Product.ProductId" />
                            <input type="number" class="form-control form-control-sm text-center border-0 shadow-sm"
                                name="Quantity" value="1" min="1" />
                        </div>
                        <button type="submit"
                            class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary shadow-sm">
                            <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                        </button>
                    </form>


                </div>
                <div class="col-lg-12">

                    <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                        <p><b>Description</b></p>
                        <p>@ViewBag.Product.Description</p>
                    </div>
                </div>
            </div>
            <h1 class="fw-bold mb-4 mt-5">Related products</h1>
        </div>
        <div class="col-lg-3">
            @Html.Partial("~/Views/Shared/Partials/_CategoryList.cshtml",
            (IEnumerable<CategoryViewModel>)ViewBag.Categories)
            @Html.Partial("~/Views/Shared/Partials/_SupplierList.cshtml",
                        (IEnumerable<SupplierViewModel>)ViewBag.Suppliers)
        </div>
    </div>
    <div class="row m-5">
        @Html.Partial("~/Views/Product/Partials/_ProductList.cshtml",
                (IEnumerable<ProductViewModel>)ViewBag.ProductsRelation)
    </div>
</div>